@media(max-width:980px){
  .box_item1_title{
    font-size: 30px;
  }
  .form_box{
    margin: 0 10px;
  }
  .formCloseBtn{
    margin-left: 90%;
  }
  .btn_closeModal{
    margin-left: 60%;
  }
}
@media(max-width:800px){
  .form_box{
    flex-direction: column;
  }
  .box_item2_form{
    padding: 30px 20px;
  }
  body{
    background: black;
  }
  .box_item1_contacts{
    padding-bottom: 30px;
  }
}




@media(max-width:660px){
  .header_nav{
    justify-content: center;
    flex-direction: column;
  }
  .header_nav-contacts{
    flex-direction: column;
  }
  .header_nav-contacts-btns{
    column-gap: 30px;
    justify-content: center;
  }
  .btn_apartaments{
    top: 30%;
   left: 50%;
  }
  .btn_closeModal{
    margin-left: 50%;
  }
}

@media(max-width:455px){
.btn_download{
  padding: 5px 15px;
}
.box_item2_btn{
  padding: 0px;
}
.box_item2_form input{
max-width: 300px;
}
.form_box{
  align-items: center;
}
}
@media(max-width:385px){
  .box_item2_form input{
    max-width: 250px;
    }
    .btn_closeModal{
      margin-left: 30%;
    }
}